@import 'tailwindcss';

:root {
  --primary-black: #1e1e1e;
  --secondary-black: #0a0a0a;

  --primary-red-200: #dc3c4b;
  --primary-red-main: #ac1f2c;
  --primary-red-400: #611119;

  --white-100: #ffffff;
  --white-200: #e8e8e8;
  --white-300: #d2d2d2;

  --primary-gold-main: #e3d384;
  --primary-gold-300: #d4bb40;
  --primary-gold-400: #9d8824;

  --secondary-gray-100: #ced0d1;
  --secondary-gray-300: #6d7275;
  --secondary-gray-500: #3d3f41;

  --secondary-beige: #fff8e8;

  --secondary-humo: #f6f8f7;
}

.animatedButton {
  will-change: background-position;
  transition: background-position 0.6666666667s
    cubic-bezier(0.24, 0.22, 0.31, 1.07);
  background-size: 210% 100%;
  background-position: 99% center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    100deg,
    var(--primary-gold-main) 50%,
    var(--primary-red-main) 50%
  );
}

.animatedButton:hover {
  background-position: 0% center;
}

@theme inline {
  --color-background: var(--white-100);
  --breakpoint-xs: 26.3125rem;
  --breakpoint-2xs: 23.4375rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 130rem;
}

body {
  background: var(--white-100);
  color: var(--primary-gold-main);
  font-weight: 400;
}

h1 {
  color: var(--primary-red-main);
  font-family: 'Cormorant Garamond';
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: 100px;
  text-transform: uppercase;

  @media (width <= 80rem) {
    font-size: 42px;
    line-height: 48px;
  }
}

h2 {
  color: #0a0404;
  font-family: 'Cormorant Garamond';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;

  @media (width <= 80rem) {
    font-size: 24px;
    line-height: 30px;
  }
}

h3 {
  color: var(--primary-black);
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-transform: uppercase;

  @media (width <= 80rem) {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}

h4 {
  color: var(--primary-red-400);
  font-family: 'Cormorant Garamond';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67px;

  @media (width <= 80rem) {
    font-size: 28px;
    line-height: 36px;
  }
}

h5 {
  color: var(--primary-black);
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;

  @media (width <= 80rem) {
    font-size: 16px;
    line-height: 14px; /* 87.5% */
  }
}

h6 {
  color: var(--primary-red-main);
  font-family: 'Cormorant Garamond';
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;

  @media (width <= 80rem) {
    font-size: 22px;
    line-height: 28px;
  }
}

.lemomIcon {
  animation: spin-slow 15s linear infinite;
}

.lemomIconReverse {
  animation: spin-slow-reverse 15s linear infinite;
}

.font-cormorant-garamond {
  font-family: 'Cormorant Garamond';
}

@keyframes collectionScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-724px * 3));
  }
}

@keyframes connectionsScrollLeft {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-306px * 6 - 16px * 6));
  }
}

@keyframes connectionsScrollRight {
  0% {
    transform: translateY(calc(-306px * 6 - 16px * 6));
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes connectionsScrollLeftMobile {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-287px * 6 - 16px * 6));
  }
}

@keyframes connectionsScrollRightMobile {
  0% {
    transform: translateX(calc(-287px * 6 - 16px * 6));
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-slow-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@layer components {
  .animate-collection {
    animation: collectionScroll 50s linear infinite;
  }
  .animate-left-carousel {
    animation: connectionsScrollLeft 50s linear infinite;
    @media (width < 64rem) {
      animation: connectionsScrollLeftMobile 50s linear infinite;
    }
  }
  .animate-right-carousel {
    animation: connectionsScrollRight 50s linear infinite;
    @media (width < 64rem) {
      animation: connectionsScrollRightMobile 50s linear infinite;
    }
  }
  .animate-merch {
    will-change: transform;
  }

  .productsBackgroundAdapter {
    @media (width > 64rem) {
      inset-inline-start: 33%;
      inset-inline-end: 15%;
    }
  }
  @media (min-width: 1024px) {
    .signature-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
      grid-template-areas:
        'card1 title card2'
        'card3 card4 card5'
        'card6 card7 card8';
      gap: 3rem;
    }

    .area-title {
      grid-area: title;
    }
    .area-card1 {
      grid-area: card1;
    }
    .area-card2 {
      grid-area: card2;
    }
    .area-card3 {
      grid-area: card3;
    }
    .area-card4 {
      grid-area: card4;
    }
    .area-card5 {
      grid-area: card5;
    }
    .area-card6 {
      grid-area: card6;
    }
    .area-card7 {
      grid-area: card7;
    }
    .area-card8 {
      grid-area: card8;
    }
  }
  .vignette-overlay {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.35) 18%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0.35) 82%,
      rgba(0, 0, 0, 0.75) 100%
    );
    mix-blend-mode: multiply;
  }
  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }
}
